# NBA Sandbox

Sandbox notebook for the nba_api

# Prelims

In [2]:
# (Optional) Black codeformatter (`pip install nb_black`) for jupyterlab. In jupyter notebook, this changes slightly.
%load_ext lab_black

## Imports

In [3]:
import nba_api

import pandas as pd

In [4]:
from nba_api.stats import endpoints

from nba_api.stats.static import players, teams

# Static Data

Comes with the library, get you IDs that you will often need.

In [5]:
player_dict = players.get_players()

# Use ternary operator or write function
# Names are case sensitive
bron = [player for player in player_dict if player["full_name"] == "LeBron James"][0]
bron_id = bron["id"]

# find team Ids
teams = teams.get_teams()
GSW = [x for x in teams if x["full_name"] == "Golden State Warriors"][0]
GSW_id = GSW["id"]

In [6]:
GSW

{'id': 1610612744,
 'full_name': 'Golden State Warriors',
 'abbreviation': 'GSW',
 'nickname': 'Warriors',
 'city': 'Golden State',
 'state': 'California',
 'year_founded': 1946}

# League Leaders

Individual Player Stats.

In [7]:
ep = endpoints.LeagueLeaders()

ep.expected_data.keys()

dict_keys(['LeagueLeaders'])

In [8]:
df = ep.league_leaders.get_data_frame()
df.head()

,PLAYER_ID,RANK,PLAYER,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,201935,1,James Harden,HOU,61,2241,603,1386,0.435,271,...,388,450,106,53,273,206,2096,1937,1.65,0.39
1,1629027,2,Trae Young,ATL,60,2120,546,1249,0.437,205,...,255,560,65,8,289,104,1778,1596,1.94,0.23
2,203078,3,Bradley Beal,WAS,57,2053,593,1303,0.455,170,...,242,347,71,23,194,126,1741,1448,1.79,0.37
3,203507,4,Giannis Antetokounmpo,MIL,57,1763,623,1139,0.547,83,...,783,329,59,58,209,173,1690,1985,1.57,0.28
4,203081,5,Damian Lillard,POR,58,2140,531,1162,0.457,226,...,250,453,59,21,168,98,1677,1612,2.70,0.35

# Team Rosters

Stats related to a given team.

In [22]:
ep = endpoints.CommonTeamRoster(GSW_id)
ep.expected_data.keys()

dict_keys(['Coaches', 'CommonTeamRoster'])

In [9]:
df = ep.common_team_roster.get_data_frame()
df.head()

,TeamID,SEASON,LeagueID,PLAYER,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYER_ID
0,1610612744,2019,00,Damion Lee,1,G-F,6-5,210,"OCT 21, 1992",27.0,2,Louisville,1627814
1,1610612744,2019,00,Jordan Poole,3,G,6-4,194,"JUN 19, 1999",20.0,R,Michigan,1629673
2,1610612744,2019,00,Kevon Looney,5,F,6-9,222,"FEB 06, 1996",24.0,4,UCLA,1626172
3,1610612744,2019,00,Alen Smailagic,6,F,6-10,215,"AUG 18, 2000",19.0,R,,1629346
4,1610612744,2019,00,Eric Paschall,7,F,6-6,255,"NOV 04, 1996",23.0,R,Villanova,1629672

In [10]:
df = ep.coaches.get_data_frame()
df.head()

,TEAM_ID,SEASON,COACH_ID,FIRST_NAME,LAST_NAME,COACH_NAME,IS_ASSISTANT,COACH_TYPE,SORT_SEQUENCE
0,1610612744,2019,204005,Steve,Kerr,Steve Kerr,1,Head Coach,15
1,1610612744,2019,1796,Ron,Adams,Ron Adams,2,Assistant Coach,96
2,1610612744,2019,1658,Mike,Brown,Mike Brown,2,Assistant Coach,97
3,1610612744,2019,204239,Jarron,Collins,Jarron Collins,2,Assistant Coach,98
4,1610612744,2019,204260,Bruce,Fraser,Bruce Fraser,2,Assistant Coach,99

# Team Stats

Stats of a given team

In [13]:
ep = endpoints.TeamYearByYearStats(GSW_id)
ep.expected_data.keys()

dict_keys(['TeamStats'])

In [16]:
df = ep.team_stats.get_data_frame()
df.head()

,TEAM_ID,TEAM_CITY,TEAM_NAME,YEAR,GP,WINS,LOSSES,WIN_PCT,CONF_RANK,DIV_RANK,...,OREB,DREB,REB,AST,PF,STL,TOV,BLK,PTS,PTS_RANK
0,1610612744,Philadelphia,Warriors,1946-47,60,35,25,0.583,0,2,...,0,0,0,343,1082,0,0,0,4118,5
1,1610612744,Philadelphia,Warriors,1947-48,48,27,21,0.563,0,1,...,0,0,0,335,934,0,0,0,3521,5
2,1610612744,Philadelphia,Warriors,1948-49,60,28,32,0.467,0,4,...,0,0,0,1043,1459,0,0,0,5022,4
3,1610612744,Philadelphia,Warriors,1949-50,68,26,42,0.382,0,4,...,0,0,0,1142,1768,0,0,0,4983,14
4,1610612744,Philadelphia,Warriors,1950-51,66,40,26,0.606,0,1,...,0,0,0,1432,1710,0,0,0,5634,7

In [18]:
df.columns.tolist()

['TEAM_ID',
 'TEAM_CITY',
 'TEAM_NAME',
 'YEAR',
 'GP',
 'WINS',
 'LOSSES',
 'WIN_PCT',
 'CONF_RANK',
 'DIV_RANK',
 'PO_WINS',
 'PO_LOSSES',
 'CONF_COUNT',
 'DIV_COUNT',
 'NBA_FINALS_APPEARANCE',
 'FGM',
 'FGA',
 'FG_PCT',
 'FG3M',
 'FG3A',
 'FG3_PCT',
 'FTM',
 'FTA',
 'FT_PCT',
 'OREB',
 'DREB',
 'REB',
 'AST',
 'PF',
 'STL',
 'TOV',
 'BLK',
 'PTS',
 'PTS_RANK']

# Player Stats

Stats of a individual player. Also relevant data for our application.

In [19]:
ep = endpoints.PlayerCareerStats(bron_id)
ep.expected_data.keys()

dict_keys(['CareerTotalsAllStarSeason', 'CareerTotalsCollegeSeason', 'CareerTotalsPostSeason', 'CareerTotalsRegularSeason', 'SeasonRankingsPostSeason', 'SeasonRankingsRegularSeason', 'SeasonTotalsAllStarSeason', 'SeasonTotalsCollegeSeason', 'SeasonTotalsPostSeason', 'SeasonTotalsRegularSeason'])

In [20]:
df = ep.season_totals_regular_season.get_data_frame()
df.head()

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,2544,2003-04,00,1610612739,CLE,19.0,79,79,3120.0,622,...,0.754,99,333,432,465,130,58,273,149,1654
1,2544,2004-05,00,1610612739,CLE,20.0,80,80,3388.0,795,...,0.750,111,477,588,577,177,52,262,146,2175
2,2544,2005-06,00,1610612739,CLE,21.0,79,79,3361.0,875,...,0.738,75,481,556,521,123,66,260,181,2478
3,2544,2006-07,00,1610612739,CLE,22.0,78,78,3190.0,772,...,0.698,83,443,526,470,125,55,250,171,2132
4,2544,2007-08,00,1610612739,CLE,23.0,75,74,3027.0,794,...,0.712,133,459,592,539,138,81,255,165,2250